<table class='table'>
  <th></th>
  <th>グループ名</th>
  <th>紹介文</th>
  <th>メンバー</th>
  <th colspan = "3"></th>
    <tr>
      <td><%= image_tag group.get_group_image, size:'50x50' %></td>
      <td><%= group.name %></td>
      <td><%= group.introduction %></td>
      <td>
        <% group.users.each do |member| %>
        <p><%= member.name %></p>
        <% end %>
      </td>
      <td nowrap>
       <% if group.owner_id != current_user.id %>
        <% if group.users.include?(current_user) %>
         <%= link_to group_path(group), method: :delete do %>
         <button class = "btn btn-danger">Leave this group</button>
         <% end %>
        <% else %>
         <%= link_to group_join_path(group), method: :post do %>
         <button class = "btn btn-success">Join this group</button>
         <% end %>
        <% end %>
       <% end %>
      </td>
      <td><% if group.owner_id == current_user.id %>
          <%= link_to 'Edit', edit_group_path(group), class: "btn btn-sm btn-success " %>
          <% end %>
      </td>
    </tr>
</table>